* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "daniel daniel jonathan kira"
                        "jeanette patrick patrick kira"; 
    gap: 15px;
}

.virgula {
    background: url(../images/bg-pattern-quotation.svg) no-repeat;
}

#daniel {
    grid-area: daniel;
    background-color: hsl(263, 55%, 52%);
    color: white;
    border-radius: 10px;
    z-index: 0;
}

#jonathan {
    grid-area: jonathan;
    background-color:hsl(217, 19%, 35%);
    color: white;
    border-radius: 10px;
}

#kira {
    grid-area: kira;
    background-color: white;
    border-radius: 10px;
}

#jeanette {
    grid-area: jeanette;
    background-color: white;
    border-radius: 10px;
}

#patrick {
    grid-area: patrick;
    background-color:hsl(219, 29%, 14%);
    color: white;
    border-radius: 10px;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 0px;
}

img {
    border-radius: 50%;
    border: 2px solid purple;
}

.img, p {
    padding-left: 30px;
    padding-right: 20px;
}


.text3 {
    margin-top: 20px;
    font-size: 25px;
}

.text4 {
    line-height: 20px;
    opacity: 70%;
    margin-right: 45px;
    margin-top: -20px;
}

.name2 {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
}

@media (max-width: 375px) {
    .container{
        display: block;
    }
    div #virgula{
        padding-left: 50px;
        z-index: 0;
    }

    .texto1{
        z-index: 1;
    }

    .nome{
        position: absolute;
    }
}

